* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
font-family: 'Open Sans';
font-weight: 400;
font-size: 22px;
line-height: 150%;
background-color: #fff;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header {
  background-color: black;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  margin-right: auto;
}

.site-logo {
  display: flex;
  margin-right: auto;
  margin-right: 140px;
  transition: all 0.4s ease;
  margin-left: 240px;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.5;
}

.site-logo img {
  width: 151px;
  height: 28px;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav-link {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fff;
  padding-bottom: 5px;
  transition: color 0.4 ease, border-bottom 0.4s ease;
}

.site-nav-link:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
}

.site-nav-link:active {
  opacity: 0.6;
}

.site-nav-pic {
  width: 30px;
  height: 30px;
}

.site-nav-pic a {
  display: flex;
  margin-left: 270px;
  align-items: center;
  justify-content: center;
}

/* main start */
.main-content {
  padding-bottom: 100px;
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-container {
  min-width: 944px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-img{
  margin-bottom: 80px;
}

.hero-title {
  max-width: 654px;
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.hero-text {
  max-width: 864px;
  width: 100%;
  font-weight: 400;
  font-style: 22px;
  line-height: 3.3;
  margin-bottom: 80px;
}

.hero-list {
  display: flex;
  max-width: 864px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  margin-bottom: 60px;
}

.hero-iteam:not(:last-child) {
  margin-right: 20px;
}

.btn {
  border: 0;
  padding: 4px 20px;
  border-radius: 22px;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  transition: all 0.4s ease;
}

.btn.active {
  background-color: #000;
  color: #fff;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.btn:active {
  opacity: 0.6;
}

.herro-informs {
  display: flex;
  justify-content: space-between;
}

.herro-informs-iteam {
  max-width: 410px;
  width: 100%;
  text-align: left;
}

.herro-informs-iteam:not(:last-child){
  margin-right: 40px;
}

.hero-informs-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.hero-informs-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0%;
}

time {
font-weight: 400;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0%;
}

/* main end */

/* footer start */

.mixx{
  display: flex;
  align-items: center;
}

.site-footer{
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 21px;
}

.site-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-left {
  display: flex;
  align-items: center;

}

.site-helliions-img {
margin-left: 307px;
margin-top: 26px;
margin-bottom: 26px;
}

.site-helliions {
 color: #fff;
 margin-left: 16px;
}

.site span {
  display: flex;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fff;
  padding-bottom: 5px;
  align-items: center;
  margin-right: 200px;
}

.navl-list {
  display: flex;
  margin-right: 444px;
}

.site-nav-iteam:not(:last-child) {
  margin-right: 30px;
}

/* footer end */